#root {
  text-align: center;
  width:600px;
  height: 900px;
  margin: 0 auto;
  background: aliceblue;
  padding-top: 30px;
}

#test {
  display: block;
  width: 300px;
  height: 40px;
  margin: 30px auto;
  font-size: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-wrap {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  box-sizing: border-box;
}

.item-wrap p {
  display: flex;
  justify-content: space-between;
}

.todo-content {
  flex:2
}

.red {
  color: #ff6775;
  flex: 1;
}

.blue {
  color: #8592ff;
  flex: 1;
}

.filter {
  border: 0;
  margin-right: 10px;
  padding: 5px 10px;
}

.selected {
  background: #c8d8fa;
  color: white;
}